# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
*.creator.user
*.creator.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
*-build-*

pc/bin/
pc/master/master

pc/build-master-Desktop-Debug
build-*
