[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=mannequinage --visu
Name=Mannequinage Visualisator
Name[fr]=Visualisateur Mannequinage
Icon=
Categories=Graphics
Comment=360° costumes visualisator
Comment[fr]=Visualisateur de vue à 360° de costumes
