[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=mannequinage-commerce
Name=Mannequinage Controler
Name[fr]=Contrôleur Mannequinage du commerce
Icon=
Categories=Graphics
Comment=Controleur of camera, turntable and model
Comment[fr]=Contrôleur pour création de vues à 360° de costumes
